doctype html
include partials/_variables.pug  
html(lang=lang)
    include partials/_header.pug  
    body
        include partials/_navMain.pug
        include partials/_navProducts.pug

        section.o-pageHeading.b-bgCover__wrap
            include partials/_breadcrumb-transparent.pug
            .container.o-pageHeading__container
                h1.o-pageHeading__title Postele
                .row
                    - for (var i=0; i<5; i++)
                        .col.o-pageHeading__col
                            a.o-pageHeading__categories.m-categoryCell(href="#")
                                img.m-categoryCell__img(src=URLbase+"img/product-thumb-medium.jpg" alt="#" title="#")
                                p.m-categoryCell__title Postele

                    .w-100

                    - for (var i=0; i<5; i++)
                        .col.o-pageHeading__col
                            a.o-pageHeading__categories.m-categoryCell(href="#")
                                img.m-categoryCell__img(src=URLbase+"img/product-thumb-medium.jpg" alt="#" title="#")
                                p.m-categoryCell__title Postele

            img.lazy.o-pageHeading__img.b-bgCover__img(src=URLbase+"img/lazy/lazy-news-archive-thumb-large.jpg" data-src=URLbase+"img/news-archive-thumb-large.jpg" alt="#" title="#")


        section.o-filter
            .container

        main

            .container
                .m-filterBadges
                    .m-filterBadges__single 
                        .m-filterBadges__title Filtr prvek
                        .m-filterBadges__remove
                            span.a-icon.white.m-filterBadges__Icon 

                include partials/_pagination.pug

                .filter-sort
                    ul.nav.nav-tabs
                        li.nav-item
                            a.nav-link.active(onclick="#") Nejoblíbenější
                        li.nav-item
                            a.nav-link(onclick="#") Nejlevnější
                        li.nav-item
                            a.nav-link(onclick="#") Nejdražší
                        li.nav-item
                            a.nav-link(onclick="#") Jméno A-Z


                .product-grid
                    include partials/_single-product-cell.pug
                    include partials/_single-product-cell.pug
                    include partials/_single-product-cell.pug

                    include partials/_single-product-cell.pug
                    include partials/_single-product-cell.pug
                    include partials/_single-product-cell.pug

                    include partials/_single-product-cell.pug
                    include partials/_single-product-cell.pug
                    include partials/_single-product-cell.pug

                include partials/_pagination.pug

 

        include partials/_footer.pug

        include partials/_js-include.pug